* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
}
header {
  color: #ffffff;
  padding: 20px 0;
  height: 300px;
}
#login {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  z-index: 1;
  margin: 10px 50px 0 0;
  font-weight: 400;
}

#login:hover {
  cursor: pointer;
}

#logoHeader {
  display: flex;
  align-items: center;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}
#logoHeader > img {
  width: 70px;
  height: 70px;
  margin: 0 5px 0 30px;
  filter: drop-shadow(1px 1px 1px #111111) brightness(10);
}
h1 {
  font-size: x-large;
  text-shadow: 1px 1px 1px #566493;
}
.sectionTitle {
  margin: 10px 0 30px 100px;
}
#title {
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  text-shadow: 7px 5px 1px #333b56;
}
.videos-container {
  position: absolute;
  overflow: hidden;
  height: 410px;
  left: 0;
  top: 0;
}
video {
  z-index: -1;
  position: relative;
  width: 100%;
  height: min-content;
}
nav {
  background: linear-gradient(#444444, transparent);
  padding: 10px 0 0 0;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #ffffff;
  height: 50px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 300;
  position: relative;
  z-index: 1;
}
nav a:hover {
  text-shadow: 1px 1px 2px white;
}
.options {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
ul {
  background-color: #566493;
  list-style: none;
  padding: 0;
  display: flex;
  width: 637px;
  justify-content: center;
  position: relative;
  right: 180px;
}
li {
  /* border-left: solid 1px;
  border-right: solid 1px; */
  margin: 0 7px 0 7px;
  padding: 3px 20px 3px 20px;
  background-color: #f4f4f4;
}
li:hover {
  cursor: pointer;
}
.form {
  padding: 20px;
  background-color: #566493;
  width: 1200px;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
label {
  position: absolute;
  padding: 18px 0 10px 10px;
  cursor: auto;
  transition: transform 0.3s ease;
  user-select: none;
}
input {
  padding: 10px;
  overflow: hidden;
  width: 200px;
  border-radius: 7px;
  border-style: solid;
  height: 36px;
  font-size: large;
}
input:hover {
  cursor: auto;
}
input[type="button"] {
  height: 60px;
  background-color: #d1813c;
  color: #ffffff;
  font-size: 20px;
  border-style: outset;
  border-color: #566493;
  border-radius: 7px;
}

input[type="button"]:hover {
  cursor: pointer;
}
aside {
  position: absolute;
  right: 20px;
  scale: 75%;
  margin-top: -120px;
}
section {
  padding: 20px;
}
.contenedorOfertas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}
.ofertCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 200px;
}

.ofertaDatos {
  position: relative;
}

.ofertaDatos > * {
  text-align: right;
}
.precio {
  font-size: 36px;
}
.ofertaImagen {
  position: absolute;
  width: 340px;
  height: 240px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 10px;
}
button {
  background: transparent;
}
.contenedorPopulares {
  width: 90%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.popularCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 450px;
}

.popularImagen {
  width: 340px;
  height: 320px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 10px 10px 0 0;
}

.precioPopular{
  font-size: xx-large;
}

.scroll-right,
.scroll-left {
  width: 40px;
  height: 40px;
  border: none;
}
.scroll-right {
  margin-right: 30px;
}
.scroll-left {
  margin-left: 30px;
}

.scroll-right:hover,
.scroll-left:hover {
  cursor: pointer;
}
.populares {
  display: flex;
  align-items: center;
}
.sectionGlobo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionGlobo > * {
  margin: 5px;
}
#globo {
  height: 400px;
}
.contenedorOpiniones {
  width: 90%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.opiniones {
  display: flex;
  align-items: center;
}
.opinionCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 150px;
}
.estrella {
  width: 25px;
  fill: gold;
}

footer {
  background-color: #d1813c;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  margin-left: 300px;
  font-size: 18px;
  font-weight: 200;
}
#footer {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  position: absolute;
}
#logoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
#logoFooter > img {
  width: 120px;
  height: 120px;
  filter: drop-shadow(1px 1px 1px #111111) brightness(10);
}
#footer-social {
  padding-left: 30px;
  position: absolute;
  margin-bottom: 100px;
  right: 40px;
}
#footer-social a i {
  font-size: 40px;
  width: 60px;
  color: white;
}
model-viewer::part(default-progress-bar) {
  display: none;
}
.autorOpinion{
  font-style: italic;
}

.popup-overlay {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  animation: zoomIn 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.no-scroll {
  overflow: hidden; /* Evitar el desplazamiento de la página */
}

